<div class="add-content">
    <div nz-row class="project-troduce">
        <div nz-col [nzSpan]="4">
            <span>前景概述：</span>
        </div>
        <div nz-col [nzSpan]="20">
            <p class="content">
                无人驾驶作为汽车未来的研究方向，其对于汽车行业甚至是交通运输业有着深远的影响。无人驾驶汽车的来临将能够解放人类的双手，降低发生交通事故发生的频率，保证了人们的安全。同时随着人工智能、传感检测等核心技术的突破和不断推进，无人驾驶必将更加智能化，同时也能够实现无人驾驶汽车的产业化。但是任何技术的出现都是循序渐进不断革新的过程，无人驾驶从出现到成熟再到能够在世界范围内运用，需要每一个汽车人的不懈努力。
            </p>
        </div>
    </div>
    <div class="project-plan">
        <div nz-row class="project-plan-title">
            <div nz-col [nzSpan]="4">
                <span>预估发展阶段：</span>
            </div>
            <div nz-col [nzSpan]="20">
                <p>总共三个阶段</p>
            </div>
        </div>
    </div>
    <app-step></app-step>
    <app-step></app-step>
    <app-step></app-step>
    <div nz-row class="project-other">
        <div nz-col [nzSpan]="8">
            <span>项目合作周期：1年</span>
        </div>
        <div nz-col [nzSpan]="16">
            <span>总金额:￥9，000</span>
        </div>
    </div>
    <div class="project-request">
        <span>合作人要求：</span>
        <p>合伙人的第一个条件就是要有“资本”，在这里并不是说金钱上的资本，而是合伙人之间要有为企业共同抵御风险的能力，这些能力是什么呢？就是各自的优势互补，比如说3人合伙的话，其中一人可以有钱，其中一人可以有技术，另一人要有管理和营销能力即可这个黄金三角形成了极强的优势互补，最终企业会成功的。</p>
    </div>
    <app-file></app-file>
</div>