<div id="header">
    <div id="header-nav">
        <div nz-row>
            <div id="logo" nz-col [nzSpan]="3">
                <a href="/" target="_self" title="首页">
                    <!--<img title="贝壳外包" src="./assets/images/logo.png">-->
                    <h1 class="title">智云科技</h1>
                </a>
            </div>
            <div class="menu" nz-col [nzSpan]="17"></div>

            <div class="menu" nz-col [nzSpan]="4">
                <span>已经注册账号？</span>
                <button nz-button [nzType]="'primary'" nzGhost>
                    <a routerLink="/login"><span>登录</span></a>
                </button>
            </div>
        </div>
    </div>
</div>