.tool-bar {
    padding-top: 30px;
    padding-bottom: 50px;
    border-bottom: 1px solid #D9DDE1;
}

.tool-bar span {
    font-size: 14px;
    margin: 32px;
    color: black;
}

.tool-bar span.on {
    color: #990033;
}

.ant-input-affix-wrapper {
    width: 70%;
    height: 35px;
}