<div class="info-header">
    <div nz-row class="title">
        <div nz-col [nzSpan]="8">
            <span class="name">NO.1数据图像信息处理技术</span></div>
        <div nz-col [nzSpan]="12"></div>
        <div nz-col [nzSpan]="4">
            <span class="status">招募中</span>
        </div>
    </div>

    <div nz-row class="other">
        <div nz-col [nzSpan]="4">
            <p>周期：<span>1个月</span></p>
        </div>
        <div nz-col [nzSpan]="4">
            <p>报名人数：<span>22</span></p>
        </div>
        <div nz-col [nzSpan]="12"></div>
        <div nz-col [nzSpan]="4">
            <button nz-button [nzType]="'primary'">
                <span>参与项目</span>
              </button>
        </div>
    </div>
</div>