<div class="info-header">
    <div nz-row class="title">
        <div nz-col [nzSpan]="8">
            <span class="name">N0.4531数据图像共享技术处理</span></div>
        <div nz-col [nzSpan]="12"></div>
        <div nz-col [nzSpan]="4">
            <span class="status">开放中</span>
        </div>
    </div>

    <div nz-row class="other">
        <div nz-col [nzSpan]="4">
            <p>合作周期：<span>1年</span></p>
        </div>
        <div nz-col [nzSpan]="4">
            <p>关注人数：<span>22</span></p>
        </div>
        <div nz-col [nzSpan]="12"></div>
        <div nz-col [nzSpan]="4">
            <button nz-button [nzType]="'primary'">
                <span>关注合作</span>
              </button>
        </div>
    </div>
</div>