<div class="first">
    <div class="amount" nz-row>
        <div class="trade" nz-col [nzSpan]="8">
            <span>累计交易总金额：</span>
            <span class="val">578，322，454</span>
        </div>
        <div class="member-num" nz-col [nzSpan]="8">
            <span>开发人员数量：</span>
            <span class="val">2，109</span>
        </div>
        <div class="project-num" nz-col [nzSpan]="8">
            <span>项目数量：</span>
            <span class="val">1，561</span>
        </div>
    </div>
</div>