.body {
    text-align: center;
}

.body>.title {
    height: 70px;
    line-height: 70px;
}

.body>.data {
    height: 50px;
    line-height: 50px;
    margin-bottom: 15px;
}

.body>.register {
    height: 50px;
    line-height: 50px;
}

:host::ng-deep .ant-input{
    width: 300px;
    height: 45px;
}

:host::ng-deep .ant-btn{
    width: 300px;
    height: 40px;
}

.ant-checkbox-wrapper {
    font-size: 10px;
    margin-left: 11%
}

.ant-checkbox-inner {
    width: 10px;
    height: 10px;
}

.ant-checkbox-wrapper span {
    padding-left: 0px;
}