<div class="body">
    <h2 class="title">注册</h2>
    <div class="account data">
        <nz-input [nzPlaceHolder]="'用户名'" [nzSize]="'large'"></nz-input>
    </div>
    <div class="password data">
        <nz-input [nzPlaceHolder]="'请输入密码'" [nzSize]="'large'"></nz-input>
    </div>
    <div class="repassword data">
        <nz-input [nzPlaceHolder]="'请确认密码'" [nzSize]="'large'"></nz-input>
    </div>
    <div class="agree">
        <label nz-checkbox>
    <span>同意虹软外包注册协议</span> 
  </label>
    </div>
    <div class="register">
        <button nz-button [nzType]="'primary'">
        <span>注册</span>
    </button>
    </div>
</div>