<div class="body">
    <h2 class="title">登录</h2>
    <div class="account data">
        <nz-input [nzPlaceHolder]="'请输入账号'" [nzSize]="'large'"></nz-input>
    </div>
    <div class="password data">
        <nz-input [nzPlaceHolder]="'请输入密码'" [nzSize]="'large'"></nz-input>
    </div>
    <div class="forget">
        <a href="/">忘记密码？</a>
    </div>
    <div class="login">
        <button nz-button [nzType]="'primary'">
        <a routerLink="/main"><span>登录</span></a>
      </button>
    </div>
</div>