.body {
    text-align: center;
}

.body>.title {
    height: 80px;
    line-height: 80px;
    font-size: 30px;
}

.body>.data {
    height: 65px;
    line-height: 65px;
    margin-bottom: 15px;
}

:host::ng-deep .ant-input {
    width: 300px;
    height: 45px;
}

.body>.forget>a {
    margin-left: 15%;
}

.body>.login {
    height: 50px;
    line-height: 50px;
}

:host::ng-deep .ant-btn {
    width: 300px;
    height: 40px;
}
