<div class="info-common">
    <div class="item">
        <h3>基本信息</h3>
        <a routerLink="/person-info/base">
            <p>科创者信息<i class="fa fa-lg fa-check-square-o"></i></p>
        </a>
        <a routerLink="/person-info/cert">
            <p>认证及协议<i class="fa fa-lg fa-check-square-o"></i></p>
        </a>
    </div>
    <div class="item">
        <h3>其他信息</h3>
        <a routerLink="/person-info/cert">
            <p>成果展示<i class="fa fa-lg fa-check-square-o"></i></p>
        </a>
        <a routerLink="/person-info/cert">
            <p>智云分享</p>
        </a>
    </div>
</div>