<div class="cert-info">
    <div class="card-info info">
        <div class="title">
            <span>实名认证</span>
        </div>
        <div class="alert">
            <p class="first-alert">验证通过后无法自行修改。如果需要修改认证信息请
                <a href="/">请联系客服</a>
            </p>
        </div>
        <div class="form name" nz-row>
            <div nz-col class="title" [nzSpan]="4">
                <span>真实姓名：</span></div>
            <div nz-col class="val" [nzSpan]="20">
                <nz-input [nzPlaceHolder]="'default size'"></nz-input>
            </div>
        </div>
        <div class="form person-card" nz-row>
            <div nz-col class="title" [nzSpan]="4">
                <span>身份证号码：</span></div>
            <div nz-col class="val" [nzSpan]="16">
                <nz-input [nzPlaceHolder]="'default size'"></nz-input>
            </div>
            <div nz-col [nzSpan]="4">
                <button nz-button [nzType]="'primary'">
                    <span>保存</span>
                  </button>
            </div>
        </div>
        <div class="look">
            <a href="/">查看相关认证说明@？</a>
        </div>
    </div>

    <div class="card-info info">
        <div class="title">
            <span>法大大电子协议要求</span>
        </div>
        <div class="alert">
            <p class="first-alert">验证通过后无法自行修改。如果需要修改认证信息请
                <a href="/">请联系客服</a>
            </p>
        </div>
        <div class="form person-card" nz-row>
            <div nz-col class="title" [nzSpan]="4">
                <span>法大大账号：</span></div>
            <div nz-col class="val" [nzSpan]="16">
                <nz-input [nzPlaceHolder]="'default size'"></nz-input>
            </div>
            <div nz-col [nzSpan]="4">
                <button nz-button [nzType]="'primary'">
                    <span>保存</span>
                  </button>
            </div>
        </div>
    </div>
</div>