<div class="detail-comment">
    <div class="opreat" nz-row>
        <div nz-col [nzSpan]="6">
            <span><i class="fa fa-money fa-lg"></i>钱太少</span>
        </div>
        <div nz-col [nzSpan]="6">
            <span><i class="fa fa-clock-o fa-lg"></i>时间太少</span>
        </div>
        <div nz-col [nzSpan]="6">
            <span><i class="fa fa-thumbs-o-up fa-lg"></i>挺好的</span>
        </div>
        <div nz-col [nzSpan]="6">
            <span><i class="fa fa-thumbs-o-down fa-lg"></i>不靠谱</span>
        </div>
    </div>
    <div class="thanks">
        <span>谢谢评价！</span>
    </div>
</div>