<div class="detail-comment">
    <div class="opreat" nz-row>
        <div nz-col [nzSpan]="6">
            <span><i class="fa fa-money fa-lg"></i>成本太大</span>
        </div>
        <div nz-col [nzSpan]="6">
            <span><i class="fa fa-clock-o fa-lg"></i>合作时间太短</span>
        </div>
        <div nz-col [nzSpan]="6">
            <span><i class="fa fa-thumbs-o-up fa-lg"></i>很有前景</span>
        </div>
        <div nz-col [nzSpan]="6">
            <span><i class="fa fa-thumbs-o-down fa-lg"></i>不看好</span>
        </div>
    </div>
    <div class="thanks">
        <span>谢谢评价！</span>
    </div>
</div>